include ../data/data
include ../mixin/mixins
<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title #{websiteName}
        link(rel="preconnect", href="https://fonts.gstatic.com")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Sora:wght@700;800&display=swap")
        link(rel="stylesheet", href="assets/bootstrap/css/bootstrap.min.css")
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/5.8.55/css/materialdesignicons.min.css")
        link(rel="stylesheet", href="assets/css/main.css")
    body
        block header
            include ../partials/navbar
        block main

        block footer
            include ../partials/footer
        script(src="assets/bootstrap/js/bootstrap.min.js")
        script(src="assets/js/main.js")