extend ../template/template
block main
    main
        .hero-section
            .container.d-flex.justify-content-center.align-items-center.flex-column
                h1.display-3.text-white Welcome to #{websiteName}
                p #{orgGoal}
                .row
                    button.btn.btn-primary.rounded-pill.text-uppercase.btn-lg.fw-bold
                        i.mdi.mdi-handshake.me-2
                        | become a volunteer
        .stats-section
            .container-fluid
                .stats-holder.row.mx-auto
                    each stat in stats
                        +generateStats(stat.name, stat.value, stat.icon)
        .causes-section.section-padding
            .container
                h3.section-title Our Causes
                hr.mt-3.mb-4
                .row
                    each cause in nonprofitCauses
                        +generateCauses(cause.title, cause.amount, cause.img, cause.description)
        
        .how-to-help.section-padding
            .container
                .row
                    .col-md-3.mb-4.mb-md-0.text-center.text-md-start
                        h1.text-uppercase.text-white how can you help
                    .col-md-3.mb-4.mb-md-0.text-center.text-md-start.hth-card
                        h1.text-white 01
                        p.text-white.h4.mb-0 Donate for a Cause
                    .col-md-3.mb-4.mb-md-0.text-center.text-md-start.hth-card
                        h1.text-white 02
                        p.text-white.h4.mb-0 Become a Volunteer
                    .col-md-3.mb-4.mb-md-0.text-center.text-md-start.hth-card
                        h1.text-white 03
                        p.text-white.h4.mb-0 Donate Your Birthday