extend ../template/template
block main
    main
        .hero-section
            .container.d-flex.justify-content-center.align-items-center.flex-column
                h1.display-3.text-white Welcome to #{websiteName}
                p #{orgGoal}
                .row
                    button.btn.btn-primary.rounded-pill.text-uppercase.btn-lg.fw-bold
                        i.mdi.mdi-handshake.me-2
                        | become a volunteer
        .introduction-section.section-padding
            .container
                .inner-container.p-4
                    .row.align-items-center
                        .col-lg-3.position-relative.mb-4.mb-lg-0
                            img.img-fluid.rounded-circle(src="assets/img/videothumbnail.png", alt="")
                            .play-button-holder.position-absolute
                                span.mdi.mdi-play.play-button
                        .col-lg-4.mb-3.mb-lg-0
                            h2.text-white.pl-4   We are Tripura based non-profit charity organization
                        .col-lg-5
                            p.text-white Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illo, impedit odio nulla aspernatur architecto eius consectetur omnis asperiores, minima dolor, quia aperiam molestias. Omnis odio inventore sequi recusandae dolorum atque!

        .our-mission-section.section-padding
            .container
                .row
                    .col-lg-6.text-center
                        .image-holder
                            img.img-fluid(src="assets/img/childlabour.jpg", alt="")
                            .button-play-square
                                .button-circle
                                    i.mdi.mdi-play
                    .col-lg-6.mt-4.mt-lg-0
                        h2 Welcome to non-profit charity organization
                        p.mt-4 Lorem ipsum dolor sit amet consectetur adipisicing elit. Id culpa cupiditate eius? Perferendis placeat itaque, possimus dolores mollitia nam maxime nostrum delectus iusto libero? Itaque labore temporibus nam enim quasi fuga, porro commodi veniam tenetur magnam distinctio rem possimus nihil, nobis eligendi minus officia quisquam nisi mollitia? Voluptates, laudantium non.
                        .row
                            .col-lg-6
                                ul.list-unstyled
                                    li.h4
                                        i.mdi.mdi-check-circle-outline.me-2
                                        span.text-capitalize become a volunteer
                                    li.small.h5
                                        p.text-muted Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic ullam saepe incidunt quae quasi.
                                    li.h4
                                        i.mdi.mdi-check-circle-outline.me-2
                                        span.text-capitalize Donate fundraising
                                    li.small.h5
                                        p.text-muted Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic ullam saepe incidunt quae quasi.
                            .col-lg-6.prompt-holder
                                .card.border-0.bg-transparent
                                    .card-body
                                        i.mdi.mdi-charity.h1
                                        h5.mt-3 Your contribution can make a big difference in someone's life
        .stats-section
            .container-fluid
                .stats-holder.row.mx-auto
                    each stat in stats
                        +generateStats(stat.name, stat.value, stat.icon)
        
        .events-section.section-padding
            .container
                h2 Upcoming Events
                .row.mt-5
                    each event in events
                        +generateEvents(event.img, event.date, event.month, event.title, event.address, event.time)



        .causes-section.section-padding
            .container
                h3.section-title Our Causes
                hr.mt-3.mb-4
                .row
                    each cause in nonprofitCauses
                        +generateCauses(cause.title, cause.amount, cause.img, cause.description)
        
        .how-to-help.section-padding
            .container
                .row
                    .col-md-3.mb-4.mb-md-0.text-center.text-md-start
                        h1.text-uppercase.text-white how can you help
                    .col-md-3.mb-4.mb-md-0.text-center.text-md-start.hth-card
                        h1.text-white 01
                        p.text-white.h4.mb-0 Donate for a Cause
                    .col-md-3.mb-4.mb-md-0.text-center.text-md-start.hth-card
                        h1.text-white 02
                        p.text-white.h4.mb-0 Become a Volunteer
                    .col-md-3.mb-4.mb-md-0.text-center.text-md-start.hth-card
                        h1.text-white 03
                        p.text-white.h4.mb-0 Donate Your Birthday
        
        .gallery-section.section-padding
            .container
                h3.section-title Photo Gallery
                hr.mt-3.mb-4
                .gallery-image-holder
                    .row
                        .col-md-3
                            .card.border-0
                                img.img-fluid(src="assets/img/education.jpg", alt="")
                                .overlay
                                    i.mdi.mdi-camera
        
        .volunteers-section
            .container
                h3.section-title Our Volunteers
                hr.mt-3.mb-4
                .volunteers-holder
                    .row
                        .col-md-3
                            .card.volunteers-card.border-0
                                img.img-fluid.card-img-top(src="assets/img/landing.jpg", alt="")
                                .card-body
                                    h6.card-title Ratan Sutradhar
                                    p.card-subtitle Chairman