body {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-weight: 400;
}

h1 {
  font-family: 'Sora', sans-serif;
  font-weight: 700;
  color: #272727;
}

h2 {
  font-family: 'Sora', sans-serif;
  font-weight: 700;
  color: #272727;
}

h3 {
  font-family: 'Sora', sans-serif;
  font-weight: 700;
  color: #272727;
}

h4 {
  font-family: 'Sora', sans-serif;
  font-weight: 700;
  color: #272727;
}

h5 {
  font-family: 'Sora', sans-serif;
  font-weight: 700;
  color: #272727;
}

h6 {
  font-family: 'Sora', sans-serif;
  font-weight: 700;
  color: #272727;
}

.font-weight-bold {
  font-weight: 600;
}

a {
  text-decoration: none;
}

.btn-primary {
  background-color: #e87c06;
  border-color: #e87c06;
}

.btn-primary:hover {
  background-color: #e87c06;
  border-color: #e87c06;
}

.btn-primary:focus {
  background-color: #e87c06;
  border-color: #e87c06;
  -webkit-box-shadow: 0 0 0 0.25rem rgba(232, 124, 6, 0.5);
          box-shadow: 0 0 0 0.25rem rgba(232, 124, 6, 0.5);
}

.btn-outline-primary {
  color: #e87c06;
  border-color: #e87c06;
}

.btn-outline-primary:hover {
  background-color: #e87c06;
  border-color: #e87c06;
}

.btn-outline-primary:focus {
  background-color: #e87c06;
  border-color: #e87c06;
  -webkit-box-shadow: 0 0 0 0.25rem rgba(232, 124, 6, 0.5);
          box-shadow: 0 0 0 0.25rem rgba(232, 124, 6, 0.5);
}

.main-header {
  background-color: #e87c06;
}

.main-header .top-bar {
  font-size: 14px;
  color: #fff;
}

.main-header .top-bar a {
  color: #fff !important;
}

.main-header .top-bar .qr-trigger {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}

.main-header .navbar {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.main-header .navbar .navbar-brand {
  color: rgba(0, 0, 0, 0.9);
}

.main-header .navbar .brand-logo {
  width: 70px;
}

.main-header .navbar .navbar-toggler {
  font-size: 1.4rem;
}

.main-header .navbar .navbar-toggler:focus {
  -webkit-box-shadow: 0 0 0 0.25rem rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 0 0.25rem rgba(0, 0, 0, 0.25);
}

.main-header .navbar .nav-item .nav-link {
  color: rgba(0, 0, 0, 0.55);
  -webkit-transition: none;
  transition: none;
}

.main-header .navbar .nav-item:hover {
  background-color: #e87c06;
}

.main-header .navbar .nav-item:hover .nav-link {
  color: #fff;
}

.section-padding {
  padding: 60px 20px;
}

.section-title {
  position: relative;
  text-align: center;
}

.section-title::before {
  position: absolute;
  content: '';
  width: 14px;
  height: 14px;
  background-color: #c4c4c4;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  bottom: -23px;
  left: 50%;
  z-index: 11;
}

main .hero-section {
  height: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ebf6e5;
  color: #fff;
  position: relative;
  text-align: center;
  background-image: url("https://images.unsplash.com/photo-1488521787991-ed7bbaae773c?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

main .hero-section::before {
  position: absolute;
  width: 100%;
  height: 100%;
  content: '';
  background-color: rgba(0, 0, 0, 0.55);
}

main .hero-section .container {
  -webkit-filter: brightness(1);
          filter: brightness(1);
}

main .introduction-section .inner-container {
  background-color: #272727;
  border-bottom-left-radius: 145px;
  border-top-left-radius: 145px;
}

main .introduction-section .inner-container .play-button-holder {
  background-color: #fff;
  top: 50%;
  left: 50%;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.5rem;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  cursor: pointer;
}

main .introduction-section .inner-container .play-button-holder:hover {
  background-color: #2fb36a;
  color: #fff;
  -webkit-box-shadow: 0 4px 20px rgba(47, 179, 106, 0.5);
          box-shadow: 0 4px 20px rgba(47, 179, 106, 0.5);
}

main .our-mission-section .image-holder {
  position: relative;
}

main .our-mission-section .image-holder img {
  border-radius: 20px;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

main .our-mission-section .image-holder img:hover {
  -webkit-transform: scale(1) perspective(1040px) rotateY(11deg) rotateX(2deg) rotate(2deg);
          transform: scale(1) perspective(1040px) rotateY(11deg) rotateX(2deg) rotate(2deg);
}

main .our-mission-section .image-holder .button-play-square {
  background-color: #2fb36a;
  width: 100px;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1) perspective(1040px) rotateY(11deg) rotateX(2deg) rotate(2deg);
          transform: translate(-50%, -50%) scale(1) perspective(1040px) rotateY(11deg) rotateX(2deg) rotate(2deg);
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

main .our-mission-section .image-holder .button-play-square .button-circle {
  width: 40px;
  height: 40px;
  background-color: #2a9f5e;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.4rem;
}

main .our-mission-section .image-holder .button-play-square::before, main .our-mission-section .image-holder .button-play-square::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 9999px;
  background-color: #2fb36a;
  opacity: 0;
  z-index: -1;
  pointer-events: none;
  -webkit-animation: pulse 2.5s ease-in-out infinite;
          animation: pulse 2.5s ease-in-out infinite;
}

main .our-mission-section .image-holder .button-play-square::after {
  -webkit-animation-delay: .7s;
          animation-delay: .7s;
}

main .our-mission-section .prompt-holder {
  border-radius: 15px;
  background-color: #f0f0f0;
  color: #343434;
}

main .stats-section {
  background-color: #2fb36a;
  color: #fff;
}

main .stats-section .stats-holder {
  text-align: center;
  width: 100%;
}

main .stats-section .stats-holder .stats-item {
  padding: 2rem 0;
}

main .stats-section .stats-holder .stats-item i {
  font-size: 2rem;
}

main .events-section .event-item .event-card {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-shadow: 0 10px 60px 0 rgba(0, 0, 0, 0.05);
          box-shadow: 0 10px 60px 0 rgba(0, 0, 0, 0.05);
  border: 0;
  border-radius: 10px;
}

main .events-section .event-item .event-img,
main .events-section .event-item .image-holder {
  width: 140px;
}

main .events-section .event-item .date-holder {
  width: 50px;
  height: 50px;
  background-color: #e87c06;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  -webkit-box-shadow: 0 4px 20px rgba(232, 124, 6, 0.75);
          box-shadow: 0 4px 20px rgba(232, 124, 6, 0.75);
}

main .events-section .event-item .date-holder span {
  font-family: 'Sora', sans-serif;
  color: #fff;
}

main .events-section .event-item .date-holder span:nth-child(1) {
  font-weight: 800;
}

main .events-section .event-item .date-holder span:nth-child(2) {
  font-size: .6rem;
  text-transform: uppercase;
}

main .causes-section .causes-card {
  position: relative;
  overflow: hidden;
}

main .causes-section .causes-card .cause-heading {
  position: absolute;
  color: #333;
  padding: 18px;
  background-color: rgba(255, 255, 255, 0.85);
  width: 100%;
  bottom: 8px;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

main .causes-section .causes-card .overlay-text {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.85);
  height: 96%;
  width: 96%;
  top: 2%;
  left: 2%;
  padding: 50px 25px;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

main .causes-section .causes-card:hover .overlay-text {
  -webkit-transform: scale(1);
          transform: scale(1);
}

main .causes-section .causes-card:hover .cause-heading {
  bottom: -100px;
}

main .how-to-help {
  background-color: #e87c06;
}

main .how-to-help .hth-card {
  position: relative;
  padding-left: 1.2rem;
}

main .how-to-help .hth-card:nth-child(3) {
  border-left: 1px solid rgba(255, 255, 255, 0.25);
}

main .how-to-help .hth-card:nth-child(4) {
  border-left: 1px solid rgba(255, 255, 255, 0.25);
}

main .gallery-section .gallery-image-holder .card {
  position: relative;
}

main .gallery-section .gallery-image-holder .card .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: rgba(47, 179, 106, 0.75);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  font-size: 3rem;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

main .gallery-section .gallery-image-holder .card:hover .overlay {
  -webkit-transform: scale(1);
          transform: scale(1);
}

main .volunteers-section .team-block {
  position: relative;
  display: block;
  text-align: center;
  border-radius: 20px;
  overflow: hidden;
}

main .volunteers-section .team-block .volunteers-card {
  display: block;
  background-color: transparent;
  overflow: hidden;
}

main .volunteers-section .team-block .volunteers-card .image-box img {
  border-radius: 20px;
}

main .volunteers-section .team-block .volunteers-card:hover {
  -webkit-box-shadow: 0 10px 30px 3px rgba(0, 0, 0, 0.1);
          box-shadow: 0 10px 30px 3px rgba(0, 0, 0, 0.1);
}

main .volunteers-section .team-block .volunteers-card:hover + .volunteer-info {
  -webkit-transform: translateY(-90px);
          transform: translateY(-90px);
}

main .volunteers-section .team-block .volunteer-info {
  text-align: center;
  background-color: #fff;
  padding: 30px 20px 0;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  margin-bottom: -90px;
}

footer .footer-icons li .social-link {
  font-size: 2rem;
}

footer .footer-links a {
  color: #fff;
}

footer .developer-credits {
  padding: 1rem 0;
  background-color: #1e2125;
}

footer .developer-credits .dev-branding {
  width: 100px;
}

footer .payment-qr {
  position: fixed;
  right: 10px;
  bottom: 10px;
  width: 120px;
  border: 0;
  -webkit-box-shadow: 0 4px 15px -5px rgba(0, 0, 0, 0.55);
          box-shadow: 0 4px 15px -5px rgba(0, 0, 0, 0.55);
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

footer .payment-qr .close-btn {
  right: 0px;
  top: -25px;
  color: #fff;
  z-index: 10;
  font-size: 1.2rem;
  cursor: pointer;
}

footer .payment-qr .card-body {
  padding: 0;
  position: relative;
}

footer .payment-qr .card-body .qr {
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;
}

footer .payment-qr .card-body .loader {
  width: 40px;
  height: 40px;
  border: 4px solid #53c2f0;
  border-radius: 50%;
  position: absolute;
  border-left-color: rgba(83, 194, 240, 0.25);
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(0);
          transform: translate(-50%, -50%) rotate(0);
  -webkit-animation: loading 1s ease infinite;
          animation: loading 1s ease infinite;
}

@media (max-width: 767px) {
  main .how-to-help .hth-card {
    border: 0 !important;
  }
  main .introduction-section .inner-container {
    border-radius: 15px;
    text-align: center;
  }
  main .introduction-section .inner-container .play-button-holder {
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

@-webkit-keyframes loading {
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
            transform: translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes loading {
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
            transform: translate(-50%, -50%) rotate(360deg);
  }
}

@-webkit-keyframes pulse {
  from {
    opacity: 0.4;
  }
  to {
    -webkit-transform: scale(3);
            transform: scale(3);
    opacity: 0;
  }
}

@keyframes pulse {
  from {
    opacity: 0.4;
  }
  to {
    -webkit-transform: scale(3);
            transform: scale(3);
    opacity: 0;
  }
}
