body {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-weight: 400;
}

h1 {
  font-family: 'Sora', sans-serif;
  font-weight: 700;
  color: #272727;
}

h2 {
  font-family: 'Sora', sans-serif;
  font-weight: 700;
  color: #272727;
}

h3 {
  font-family: 'Sora', sans-serif;
  font-weight: 700;
  color: #272727;
}

h4 {
  font-family: 'Sora', sans-serif;
  font-weight: 700;
  color: #272727;
}

h5 {
  font-family: 'Sora', sans-serif;
  font-weight: 700;
  color: #272727;
}

h6 {
  font-family: 'Sora', sans-serif;
  font-weight: 700;
  color: #272727;
}

.font-weight-bold {
  font-weight: 600;
}

a {
  text-decoration: none;
}

.btn-primary {
  background-color: #e87c06;
  border-color: #e87c06;
}

.btn-primary:hover {
  background-color: #e87c06;
  border-color: #e87c06;
}

.btn-primary:focus {
  background-color: #e87c06;
  border-color: #e87c06;
  -webkit-box-shadow: 0 0 0 0.25rem rgba(232, 124, 6, 0.5);
          box-shadow: 0 0 0 0.25rem rgba(232, 124, 6, 0.5);
}

.btn-outline-primary {
  color: #e87c06;
  border-color: #e87c06;
}

.btn-outline-primary:hover {
  background-color: #e87c06;
  border-color: #e87c06;
}

.btn-outline-primary:focus {
  background-color: #e87c06;
  border-color: #e87c06;
  -webkit-box-shadow: 0 0 0 0.25rem rgba(232, 124, 6, 0.5);
          box-shadow: 0 0 0 0.25rem rgba(232, 124, 6, 0.5);
}

.main-header {
  background-color: #e87c06;
}

.main-header .top-bar {
  font-size: 14px;
  color: #fff;
}

.main-header .top-bar a {
  color: #fff !important;
}

.main-header .top-bar .qr-trigger {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}

.main-header .navbar .navbar-brand {
  color: rgba(0, 0, 0, 0.9);
}

.main-header .navbar .navbar-toggler {
  font-size: 1.4rem;
}

.main-header .navbar .navbar-toggler:focus {
  -webkit-box-shadow: 0 0 0 0.25rem rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 0 0.25rem rgba(0, 0, 0, 0.25);
}

.main-header .navbar .nav-item .nav-link {
  color: rgba(0, 0, 0, 0.55);
  -webkit-transition: none;
  transition: none;
}

.main-header .navbar .nav-item:hover {
  background-color: #e87c06;
}

.main-header .navbar .nav-item:hover .nav-link {
  color: #fff;
}

.section-padding {
  padding: 60px 20px;
}

.section-title {
  position: relative;
  text-align: center;
}

.section-title::before {
  position: absolute;
  content: '';
  width: 14px;
  height: 14px;
  background-color: #c4c4c4;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  bottom: -23px;
  left: 50%;
  z-index: 11;
}

main .hero-section {
  height: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ebf6e5;
  color: #fff;
  position: relative;
  text-align: center;
  background-image: url("https://images.unsplash.com/photo-1488521787991-ed7bbaae773c?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

main .hero-section::before {
  position: absolute;
  width: 100%;
  height: 100%;
  content: '';
  background-color: rgba(0, 0, 0, 0.55);
}

main .hero-section .container {
  -webkit-filter: brightness(1);
          filter: brightness(1);
}

main .stats-section {
  background-color: #2fb36a;
  color: #fff;
}

main .stats-section .stats-holder {
  text-align: center;
  width: 100%;
}

main .stats-section .stats-holder .stats-item {
  padding: 2rem 0;
}

main .stats-section .stats-holder .stats-item i {
  font-size: 2rem;
}

main .causes-section .causes-card {
  position: relative;
  overflow: hidden;
}

main .causes-section .causes-card .cause-heading {
  position: absolute;
  color: #333;
  padding: 18px;
  background-color: rgba(255, 255, 255, 0.85);
  width: 100%;
  bottom: 8px;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

main .causes-section .causes-card .overlay-text {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.85);
  height: 96%;
  width: 96%;
  top: 2%;
  left: 2%;
  padding: 50px 25px;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

main .causes-section .causes-card:hover .overlay-text {
  -webkit-transform: scale(1);
          transform: scale(1);
}

main .causes-section .causes-card:hover .cause-heading {
  bottom: -100px;
}

main .how-to-help {
  background-color: #e87c06;
}

main .how-to-help .hth-card {
  position: relative;
  padding-left: 1.2rem;
}

main .how-to-help .hth-card:nth-child(3) {
  border-left: 1px solid rgba(255, 255, 255, 0.25);
}

main .how-to-help .hth-card:nth-child(4) {
  border-left: 1px solid rgba(255, 255, 255, 0.25);
}

footer .footer-icons li .social-link {
  font-size: 2rem;
}

footer .footer-links a {
  color: #fff;
}

footer .developer-credits {
  padding: 1rem 0;
  background-color: #1e2125;
}

footer .developer-credits .dev-branding {
  width: 100px;
}

footer .payment-qr {
  position: fixed;
  right: 10px;
  bottom: 10px;
  width: 120px;
  border: 0;
  -webkit-box-shadow: 0 4px 15px -5px rgba(0, 0, 0, 0.55);
          box-shadow: 0 4px 15px -5px rgba(0, 0, 0, 0.55);
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

footer .payment-qr .close-btn {
  right: 0px;
  top: -25px;
  color: #fff;
  z-index: 10;
  font-size: 1.2rem;
  cursor: pointer;
}

footer .payment-qr .card-body {
  padding: 0;
  position: relative;
}

footer .payment-qr .card-body .qr {
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;
}

footer .payment-qr .card-body .loader {
  width: 40px;
  height: 40px;
  border: 4px solid #e87c06;
  border-radius: 50%;
  position: absolute;
  border-left-color: rgba(232, 124, 6, 0.25);
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(0);
          transform: translate(-50%, -50%) rotate(0);
  -webkit-animation: loading 1s ease infinite;
          animation: loading 1s ease infinite;
}

@media (max-width: 767px) {
  main .how-to-help .hth-card {
    border: 0 !important;
  }
}

@-webkit-keyframes loading {
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
            transform: translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes loading {
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
            transform: translate(-50%, -50%) rotate(360deg);
  }
}
