- let websiteName = "Disha Trust"
- let phoneNumber =  11234567890
- let emailAddress = "support@dishatrust.in"
- let orgGoal = "We work with the most disadvantaged children, women and low income community to provide them better healthcare, education opportunities and protection from physical and mental exploitation."
- let address = "Agartala, Tripura, India 799130"
-
    let navOptions = [
        {
            "title": "Home",
            "url": "index.html"
        },
        {
            "title": "About",
            "url": "about.html"
        },
        {
            "title": "Programs and Services",
            "url": "programs.html"
        },
        {
            "title": "Credentials and Reports",
            "url": "credentials.html"
        },
        {
            "title": "Contact",
            "url": "contact.html"
        },
    ]
-
    let socialSites = [
        {
            "title": "facebook",
            "url": "https://facebook.com/"
        },
        {
            "title": "twitter",
            "url": "https://twitter.com/"
        },
        {
            "title": "youtube",
            "url": "https://youtube.com/"
        },

    ]

- 
    let stats = [
        {
            "value": 11980,
            "name": "Successfull Projects",
            "icon": "home-heart"
        },
        {
            "value": 43232,
            "name": "People Impacted",
            "icon": "account-heart"
        },
        {
            "value": 1228,
            "name": "Total Amount Raised",
            "icon": "hand-heart"
        },
        {
            "value": 10397,
            "name": "Total Volunteers",
            "icon": "charity"
        },
        
    ]

-
    let nonprofitCauses = [
        {
            "title": "Winter Cloth Distribution",
            "amount": "₹15790",
            "img": "charity-hearts",
            "description": "Duis accumsan rhosn cius arcvira orem bland it sit admet. Sedi ceel ugue. In idn iacues ante. Proi rien is mi gravida viverra."
        },
        {
            "title": "Education for Children",
            "amount": "₹80000",
            "img": "education",
            "description": "Duis accumsan rhosn cius arcvira orem bland it sit admet. Sedi ceel ugue. In idn iacues ante. Proi rien is mi gravida viverra."
        },
        //- {
        //-     "title": "Feeding The Hungry",
        //-     "amount": "₹30000",
        //-     "img": "covid-help",
        //-     "description": "Duis accumsan rhosn cius arcvira orem bland it sit admet. Sedi ceel ugue. In idn iacues ante. Proi rien is mi gravida viverra."
        //- },
        {
            "title": "Stop Child Labour",
            "amount": "₹11250",
            "img": "landing",
            "description": "Duis accumsan rhosn cius arcvira orem bland it sit admet. Sedi ceel ugue. In idn iacues ante. Proi rien is mi gravida viverra."
        },
    ]

-
    let quickLinks = [
        {
            "title": "privacy policy",
            "url": "privacypolicy.html"
        },
        {
            "title": "donor privacy policy",
            "url": "donorpolicy.html"
        },
        {
            "title": "disclaimer",
            "url": "disclaimer.html"
        },
        {
            "title": "terms of use",
            "url": "termsofuse.html"
        },
        {
            "title": "media center",
            "url": "mediacenter.html"
        },
    ]
-
    let works = [
        {
            "title": "project",
            "url": "project.html"
        },
        {
            "title": "employment",
            "url": "project.html"
        },
        {
            "title": "partnership",
            "url": "project.html"
        },
    ]

-
    let events = [
        {
            "img": "videothumbnail.png",
            "date": 20,
            "month": "Jan",
            "title": "Food Distribution at Orphanage",
            "address": "Airport Road, Agartala, 799110",
            "time": "01:30 PM"
        },
        {
            "img": "cloth-distribution.jpg",
            "date": 24,
            "month": "Jan",
            "title": "Winter Wear Distribution",
            "address": "Airport Road, Agartala, 799110",
            "time": "01:30 PM"
        },
        {
            "img": "oldage-home.jpg",
            "date": 28,
            "month": "Jan",
            "title": "Food Distribution at Old Age Home",
            "address": "Airport Road, Agartala, 799110",
            "time": "01:30 PM"
        },
        {
            "img": "orphanage2.jpg",
            "date": 01,
            "month": "Feb",
            "title": "Food Distribution at Orphanage",
            "address": "Airport Road, Agartala, 799110",
            "time": "01:30 PM"
        },
    ]