- let websiteName = "Disha Trust"
- let phoneNumber =  11234567890
- let emailAddress = "support@dishatrust.in"
- let orgGoal = "We work with the most disadvantaged children, women and low income community to provide them better healthcare, education opportunities and protection from physical and mental exploitation."
-
    let navOptions = [
        {
            "title": "Home",
            "url": "index.html"
        },
        {
            "title": "About",
            "url": "about.html"
        },
        {
            "title": "Programs and Services",
            "url": "programs.html"
        },
        {
            "title": "Credentials and Reports",
            "url": "credentials.html"
        },
        {
            "title": "Contact",
            "url": "contact.html"
        },
    ]
-
    let socialSites = [
        {
            "title": "facebook",
            "url": "https://facebook.com/"
        },
        {
            "title": "twitter",
            "url": "https://twitter.com/"
        },
        {
            "title": "youtube",
            "url": "https://youtube.com/"
        },

    ]

- 
    let stats = [
        {
            "value": 11980,
            "name": "Successfull Projects",
            "icon": "home-heart"
        },
        {
            "value": 43232,
            "name": "People Impacted",
            "icon": "account-heart"
        },
        {
            "value": 1228,
            "name": "Total Amount Raised",
            "icon": "hand-heart"
        },
        {
            "value": 10397,
            "name": "Total Volunteers",
            "icon": "charity"
        },
        
    ]

-
    let nonprofitCauses = [
        {
            "title": "Feeding The Hungry",
            "amount": "₹10000",
            "img": "charity-hearts",
            "description": "Duis accumsan rhosn cius arcvira orem bland it sit admet. Sedi ceel ugue. In idn iacues ante. Proi rien is mi gravida viverra."
        },
        {
            "title": "Feeding The Hungry",
            "amount": "₹10000",
            "img": "charity-hearts",
            "description": "Duis accumsan rhosn cius arcvira orem bland it sit admet. Sedi ceel ugue. In idn iacues ante. Proi rien is mi gravida viverra."
        },
        {
            "title": "Feeding The Hungry",
            "amount": "₹10000",
            "img": "charity-hearts",
            "description": "Duis accumsan rhosn cius arcvira orem bland it sit admet. Sedi ceel ugue. In idn iacues ante. Proi rien is mi gravida viverra."
        },
        {
            "title": "Feeding The Hungry",
            "amount": "₹10000",
            "img": "charity-hearts",
            "description": "Duis accumsan rhosn cius arcvira orem bland it sit admet. Sedi ceel ugue. In idn iacues ante. Proi rien is mi gravida viverra."
        },
    ]